body {background-color: white;}

.redtxt {color: red;}
.bluetxt {color: blue;}

.mgl-20{margin-left : 1%;}
.mgl-30{margin-left : 1.5%;}
/* .mgl-40{margin-left : 4%;}
.mgl-50{margin-left : 6%;}
.mgl-60{margin-left : 3%;}
.mgl-70{margin-left : 5%;}
.mgl-80{margin-left : 3%;} */

.font1{font-family: Meiryo;}
/* .font2{
  font-family: Meiryo;
  margin-top : 2%;}
.font3{
  font-family: Meiryo;
  padding-left: 1.5%;
  width: 95%;
} */

