body {
  background-color: gainsboro;
}

.redtxt {
  color: red;
}

.bluetxt {
  color: blue;
}

.mgl-20{
  margin-left : 2%;
  }

.mgl-30{
  margin-left : 3%;
}

.font1{
  font-family: 游ゴシック;
}

.font30{
  font-family: 游ゴシック;
  padding-left: 3%;
  width: 99%;
}

.parent {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;            /*横並び・左から右（デフォルト）*/
  flex-wrap: no-wrap;      /*折り返しなし・単一行（デフォルト）*/
  justify-content: flex-start;    /*左（上）揃え*/
  align-items: flex-start; /*上（左）揃え*/
  align-content: space-around;  /*均等に間隔をあける・両端にも間隔をあける*/
}

.child1 {
  color: black;
  text-align: left;
  line-height: 20px;
  width: 20%;
  height: 40%;
  background-color: #BBBBBB;
  margin: 10px;
}

.child {
  color: black;
  text-align: left;
  line-height: 20px;
  width: 40%;
  height: 40%;
  background-color: #BBBBBB;
  margin: 10px;
}


